apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cost-optimizer-dev


nameSuffix: -dev

commonLabels:
  cost-center: development
  environment: dev

# Override config for dev
configMapGenerator:
- behavior: merge
  literals:
  - LOG_LEVEL=DEBUG
  - ANALYSIS_INTERVAL=1h
  - MIN_CONFIDENCE=0.6
  - DRY_RUN_MODE=true
  - ENABLE_AUTO_APPLY=false
  name: optimizer-config

# Override images for dev
images:
- name: optimizer-api
  newName: ghcr.io/JavierHernandezVantuyl/k8s-cost-optimizer/api
  newTag: bbdcd2ba3c37098e0f33771b5cfa17c456b0e8dc
- name: optimizer-dashboard
  newName: ghcr.io/JavierHernandezVantuyl/k8s-cost-optimizer/dashboard
  newTag: bbdcd2ba3c37098e0f33771b5cfa17c456b0e8dc

# Dev-specific replicas
replicas:
- count: 1
  name: optimizer-api
- count: 1
  name: optimizer-dashboard

# Dev-specific resource limits
patchesStrategicMerge:
- patches/api-resources.yaml
- patches/ingress.yaml
resources:
- ../../base
