{{- if .Values.namespaceCreate }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    {{- include "cost-optimizer.labels" . | nindent 4 }}
    name: {{ .Values.namespace }}
{{- end }}
